body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#show-scores a {
    display: flex;
    justify-content: flex-end;
}

#intro-container, #quiz-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5rem auto;
    width: 50%;
}


.btn-group-vertical {
    color: #6f42c1;;
}